<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <div class="container my-4">
      <h1 class="text-center">Please Log in for Access Blog</h1>
    <form action="/dashboard" method="post">
      <div class="mb-4">
  <label for="uname" class="form-label">Username</label>
  <input type="text" name="uname" class="form-control" id="uname" placeholder="Username">
</div>
 <label for="pass" class="form-label">Password</label>
<input type="password" name="pass" id="pass" class="form-control" aria-describedby="passwordHelpBlock">
      <button type="submit" class="btn btn-primary my-3">Primary</button>
    </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>